[color]
	ui = true
[user]
	name = Jonathan Hedstrom
	email = jhedstrom@gmail.com

[alias]
        st = status
        co = checkout
        pick = cherry-pick -s
        revert = revert -s
        ci = commit -
        diff = diff --color-words
# see http://oli.jp/2012/git-powerup/
        l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
# see http://stackoverflow.com/a/2363495/109119
        ignored = !git ls-files -v | grep "^[[:lower:]]"
# Download and apply a patch.
        a = apply --index
        ac = "!f() { curl $@ | git a; }; f"
# Reset Drupal
        nuke = !cd "$(git rev-parse --show-toplevel)" && git reset HEAD . && git co . && git clean -fd core && cd -
[core]
	excludesfile = /Users/jhedstrom/.gitignore_global
        editor = vim
	excludefile = /Users/jhedstrom/.gitignore_global
[merge]
	tool = vimdiff
[url "git@github.com:"]
  insteadOf = gh:
[url "git+ssh://jhedstrom@git.drupal.org/project/"]
  insteadOf = dm:
[push]
	default = simple
