[color]
	ui = true
[user]
	name = Jonathan Hedstrom
	email = jhedstrom@gmail.com

[alias]
        st = status
        co = checkout
        pick = cherry-pick -s
        revert = revert -s
        ci = commit -
        diff = diff --color-words
# see http://oli.jp/2012/git-powerup/
        l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
[core]
	excludesfile = /home/jhedstrom/.gitignore
        editor = vim
[merge]
	tool = vimdiff
[url "git+ssh://jhedstrom@git.drupal.org/project/"]
  insteadOf = dm:
[push]
	default = simple
