[color]
	ui = true
[user]
	name = Jonathan Hedstrom
	email = jhedstrom@gmail.com

[alias]
        st = status
        co = checkout
        pick = cherry-pick -s
        ci = commit -
[core]
	excludesfile = /home/jonathan/.gitignore
        editor = vim
[merge]
	tool = vimdiff
